<main class="w-screen relative">

  <div class="w-screen fixed h-[10rem] flex justify-between align-middle px-20 text-center font-normal text-3xl">
    <div class="flex items-center cursor-pointer">
       <h1>Sun International</h1>
    </div>
    <div>
      <img src="" alt="logo" class="bg-contain h-[10rem cursor-pointer]">
    </div>
    <div class=" flex items-center cursor-pointer gap-6">
      <p>Login</p>
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>

  <!-- Login -->
  <div class="main-screen w-screen h-screen flex items-center justify-center">
    <div class="flex gap-4 w-3/12 flex-col m-auto">
      <div class="email relative h-14">
        <fa-icon [icon]="faUserCircle" class="absolute top-0 bottom-0 left-5 text-2xl flex items-center"></fa-icon>
        <input type="email" name="email" id="email" placeholder="Email" class="h-14 w-full rounded-full pl-16 text-xl">
      </div>
      <div class="password relative h-14">
        <fa-icon [icon]="faLock" class="absolute top-0 bottom-0 left-5 text-2xl flex items-center"></fa-icon>
        <input type="password" name="password" id="password" placeholder="Password" class="h-14 w-full rounded-full pl-16 text-xl">
      </div>
      <div class="w-full h-10 flex justify-center mt-6">
        <button type="button" class="flex items-center p-7 rounded-full w-full justify-center font-medium text-2xl text-white bg-pink-700 hover:bg-pink-600">Login</button>
      </div>
      <div class="flex w-full justify-between text-lg font-medium">
        <a href="#" target="_blank" rel="noopener noreferrer"><span class="hover:underline hover:text-pink-500">Create Acount</span></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><span class="hover:underline hover:text-pink-500">Need Help?</span></a>
      </div>
    </div>
  </div>

</main>